html{
    scroll-behavior: smooth;
}

body{
background:#1f2235;
font-family: 'Source Code Pro', monospace;
}
/*main heading font*/
#nav {
background: #313552;
}
.m-heading{
font-family: 'Dosis', sans-serif;
}

.navigation-link{
border: 2px solid transparent;
}

.navigation-link:hover{
text-decoration: none;
border-bottom: 2px solid #f5ba09;
transition: 0.5s ease;
}

.main-container{
min-height: 100vh;
}

.main_row{
display: flex;
justify-content: center;
align-items: center;
}

.main_row h1{
font-size: 5rem;
}

.main_row img{
width: auto;
height: 100vh;
}

#about{
background: #313552;
border-radius: 0.5rem;
}

.card{
border-bottom: 8px solid #f5ba09 ;
}

#contact{
background: #313552;
}


/*
.media_link{
padding: 1rem;
max-width: 15rem;
margin-left: 3rem;
border: 2px solid #f5ba09;
border-radius: 0.5rem;
margin-right: 3rem;
}
*/

.linkedin_link{
width: 250px;
border: 2px solid #f5ba09;
border-radius: 0.5rem;
}

.github_link{
width: 250px;
border: 2px solid #f5ba09;
border-radius: 0.5rem;
}

.contact_link{
width: 250px;
border: 2px solid #f5ba09;
border-radius: 0.5rem;
}

.align{
text-align: center;
}

.wrapper{
text-align: center;
}

.button{
position: absolute;
top: 50%;
}

.sec-container{
border: 2px solid #f5ba09;
margin-right: 1rem;
}

.third-container{
border: 2px solid #f5ba09;
margin-left: 1rem;
}


.navbar{
    color: white;
}


